---
import Layout from "../layouts/Layout.astro";
---

<Layout basePath="../">
  <div class="l-container">
    <main class="l-main">
      <article class="p-about">
        <h1>About</h1>
        <p>
          This is the about page. You can add your company information, mission statement,
          and other relevant details here.
        </p>
        <p>
          <a href="../" class="p-links__item">← Back to Home</a>
        </p>
      </article>
    </main>
  </div>
</Layout>
